:root {
    --primary-color: #4a90e2;
    --secondary-color: #333333;
    --accent-color: #ff9800;
    --text-color: #f0f0f0;
  }

  .preview-container{
    width: 50%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    overflow: auto;
    float: right;
    padding: 10px;
}

.editor-container {
  width: 50%;
  height: 100vh;
  float: left;
  padding: 10px 0;
}

  .text-editor {
    width: 50%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    outline: none;
    border: none;
    display: block;
    resize: none;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .editor-container, .preview-container {
        width: 100%;
        float: none;
      }
    
      .text-editor {
        font-size: 0.8rem;
      }
  }