:root {
    --primary-color: #4a90e2;
    --secondary-color: #333333;
    --accent-color: #ff9800;
    --text-color: #f0f0f0;
  }

  .header header{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 20px;
  }

.icon{
  cursor: pointer;
}

.tooltip-container {
  position: relative;
}

.tooltip-text {
  position: absolute;
  top: calc(100% + 5px);
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white; 
  padding: 5px; 
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; 
  transition: opacity 0.3s ease;
  pointer-events: none; 
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
}

.tooltip-text.download-button{
  left: calc(50% - 8px);
}
.tooltip-text.sidebar-button{
  left: calc(50% + 8px);
}

.title-file{
  display: flex;
  flex-direction: row;
}

.input-edit {
  border: none;
  background-color: transparent;
  color: inherit; /* Isso faz com que o texto dentro do input tenha a mesma cor do texto do elemento pai */
  font-size: inherit;
  font-weight: inherit; 
  font-family: inherit; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  outline: none;
}

.input-edit.show-edit{
  border-bottom: 2px solid #333;
}

.icon-edit-title{
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.title-file:hover .icon-edit-title {
  opacity: 1;
}

.icon-edit-title.show-icon{
  opacity: 1;
}

.preview-container{
  width: 50%; 
  max-width: 21cm;
  height: 100vh; 
  padding: 20px; 
  background-color: var(--secondary-color); 
  color: var(--text-color); 
  box-sizing: border-box; 
  overflow: auto; 
  float: right;
  font-size: 16px;
}

.editor-container {
  width: 50%;
  height: 100vh;
  float: left;
  padding: 10px 10px;
}

  .text-editor {
    width: 50%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    outline: none;
    border: none;
    display: block;
    resize: none;
    padding: 10px;
  }

  .sidebar {
    width: 200px; 
    height: 100vh;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.hide-sidebar {
    transform: translateX(-200px); /* move a barra lateral para fora da tela */
}

.sidebar-header {
  background-color: #222222;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #444;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    padding: 8px 0;
}

.links li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
}

.links li a:hover {
    background-color: #555;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
}

.close-button:hover {
  color: #ccc;
}

  @media (max-width: 768px) {
    .editor-container, .preview-container {
        width: 100%;
        float: none;
      }
    
      .text-editor {
        font-size: 0.8rem;
      }
  }