:root {
    --primary-color: #4a90e2;
    --secondary-color: #333333;
    --accent-color: #ff9800;
    --text-color: #f0f0f0;
  }

  .header header{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 20px;
  }

.icon{
  cursor: pointer;
}

.preview-container{
  width: 50%; 
  max-width: 21cm;
  margin: 0 auto; 
  padding: 20px; 
  background-color: var(--secondary-color); 
  color: var(--text-color); 
  box-sizing: border-box; 
  overflow: auto; 
  height: 100vh; 
  font-size: 16px;
}

.editor-container {
  width: 50%;
  height: 100vh;
  float: left;
  padding: 10px 10px;
}

  .text-editor {
    width: 50%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    outline: none;
    border: none;
    display: block;
    resize: none;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .editor-container, .preview-container {
        width: 100%;
        float: none;
      }
    
      .text-editor {
        font-size: 0.8rem;
      }
  }