#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
}

.edit-area{
  display: flex;
  flex-direction: row;
}

body{
  padding: 0;
  margin: 0;
  background-color: #222222;
}

.edit-area hr{
  color: #222222;
  border: none;
  width: 3px;
}